@import "tailwindcss";

@font-face {
  font-family: 'Dirtyline';
  src: url('/fonts/dirtyline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.days-one-font {
  font-family: var(--font-days-one), sans-serif;
}

.dongle-font {
  font-family: var(--font-dongle), sans-serif;
}

.bubbler-one-font {
  font-family: var(--font-bubbler-one), sans-serif;
}

body {
  background: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
